* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;    /* box-sizing: border-box; Hace que el tamano que uno le de a una caja incluya el borde "1px por lado" */
  font-family: futura;
  }

    @font-face {
      font-family: Futura;
      /* Name to reference the font */
      src: url('/assets/fonts/FuturaLT.ttf');
      /* Path to the font file */
    }

  body {
    background-color: #afafaf;
    /* background-color: #8175ec; */
    background-image: url(/assets/texture.jpg);
  }

header {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  background-color:#e7d273;
  margin: 32px 2rem 32px 2rem;
  border-radius: 25px;
  position: sticky;
  top: 0;
}

header img {
  width: 80px;
  border-radius: 40px;
}

.header__links-container {
  width: 75%;
  padding: 20px;
}
.header__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: bolder;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: #8175ec;
  /* background-color: #6be7d3; */
  padding: 20px;
  margin: 32px 2rem 32px 2rem;
  border-radius: 25px;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: #e7d273; 
  margin: 32px 2rem 32px 2rem;
  padding: 20px;
  border-radius: 25px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 15px;
  padding: 10px;
  border-radius: 15px;
}


.card__img img{
  width: 200px;
  border-radius: 25px;
}

.font-lg {
font-size: 24pt;
}

.font--md {
  font-size: 12pt;
}

.font--sm {
  font-size: 8pt;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #8175ec;
  padding: 20px;
  margin: 32px 2rem 32px 2rem;
  border-radius: 25px;
}
.form-container {
  width: 50%;
}

button {
  width: 75px;
  height: 25px;
  color: rgb(0, 0, 0);
  background-color: #e7d273;
  border: none;
  border-radius: 12.5px;
  transition: 0.5s;

}


button:hover {
  width: 75px;
  height: 25px;
  color: white;
  border: none;
  background-color:rgb(243, 117, 134);
  border-radius: 12.5px;
}

input:focus {
  border: solid 2px black;
  box-shadow: 5px 5px black;
}

button:active {
  color: black;
  background-color: rgb(243, 117, 134);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color:#e7d273;
  margin: 32px 2rem 32px 2rem;
  padding: 20px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
}

.footer-links {
  display: flex;
  gap: 16px;
}

