* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;    /* box-sizing: border-box; Hace que el tamano que uno le de a una caja incluya el borde "1px por lado" */

}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  background-color: cornflowerblue;
}

.header__links-container {
width: 50%;
}
.header__links {
  display: flex;
  flex-direction: row;
justify-content: space-between;
}

.header__image img {
  width: 150px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}